<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/blog.css">
      <link rel="icon" href="data:;base64,iVBORwOKGgo=">
      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="//cdn.tinymce.com/4/tinymce.min.js"></script> 
      <script>tinymce.init({ selector:'textarea' });</script>
    </head>

    <body>
        <ul id="slide-out" class="side-nav fixed">
        <li><a href="index.html" class="brand-logo white-text">Home</a></li>
        <li><a href="admin.html" class="brand-logo white-text">Admin</a></li>
        
     <nav>
        <div class="nav-wrapper grey">
            <a href="" class="brand-logo white-text">Submits</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href=""><span class="new badge black"></span></a></li>
            </ul>
        </div>
    </nav>
        
    </ul>
        
        <header>
            <nav>
                <div class="nav-wrapper grey darken-1">
                    <a href="#" class="brand-logo black-text">Blog</a>
                    
                </div>
            </nav>
        </header>
    <main>
        <div class="container">
            <div class="row">
                <h1 class="center-align">My blog <img src="http://www.hey.fr/tools/emoji/ios_emoji_fire.png"></h1>
            </div>
            <div class="row">
                <div class="col s12 main-container">
                     
                </div>
            </div>       
        </div>
    </main>
<footer class="page-footer grey darken-1">
    <div class="container col s12 m2">
        <p><a class="brand-logo black-text" href="#">Back to the top</a></p>
    </div>
    <div  class="footer-copyright">
        <div  class="container brand-logo black-text">
                    <div class="chip">
                    <img src="FullSizeRender.jpg" alt=""/>
                    yanette abzun
           </div>
            @2016
                </div>
             </div>
          </footer>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="libs/backendless.js"></script>
      <script type="text/javascript" src="js/admin.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
      <script type="text/javascript" src="js/handlebars-v4.0.5.js"></script>
      
      <script id="login-template" type="text/x-handlebars-template">
         <div class="col s6">
          <h2 class="center-align">Login</h2>
          <div>
              <form class="col s12 form-signin">
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="email" type="email" name="email" class="validate">
                          <label for="email">Email</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="input-field col s12">
                          <input id="password" type="password" name="password" class="validate">
                          <label for="password">Password</label>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col s12">
                          <p class="right-align">
                              <button class="btn btn-large waves-effects wave-light grey" type="submit" name="action">Submit</button>
                          </p>
                      </div>                 
                  </div>
              </form>
          </div>
      </div>
      </script>
      <script id="welcome-template" type="text/x-handlebars-template">
          <h2>Welcome, {{email}}</h2>
          <button class="btn btn-large waves-efect waves-light add-blog grey">Add a new Blog</button>
            <button class="btn btn-large waves-efect waves-light logout grey">Logout</button>
      </script>
      <script id="add-blog-template" type="text/x-handlebars-template">
             <h2>Add a new Blog</h2>
      <div class="row">
          <form class="col s12 form-add-blog">
              <div class="row">
                  <div class="input-field col s12">
                      <input id="title" type="text" name="title">
                      <label for="title">Title</label>
                  </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                      <textarea id="content" name="content" class="materialize-textarea"></textarea>
                      <label for="content"></label>
                  </div>
              </div>
              <div class="row">
                  <div class="col s12">
                      <p class="right-align">
                          <button <a gotError="Materialize.toast('I am a toast', 4000)" class="btn btn-large  waves-effect waves-light grey" type="submit" name="action">Submit</button>
                      </p>
                  </div>
              </div>
          </form>
      </div>
      </script>
    
    </body>
  </html>
